$font-header-stack:'Bree Serif', serif;
$font-body-stack:'Open Sans', sans-serif;
$color1: #79DF42; // green - http://paletton.com/#uid=32F0u0kmyxacINKiaECrsuju9o5
$color2: #1B7791; // blue
$color3: #B2F191; // light green, warning
$color4: #C04A0B; // yellow title
$color5: #f5f5f5; // grey


// Tell the browser to treat padding and border widths as part of the overall element width (so we can sanely use percentages for element widths)
* { box-sizing: border-box; }

h1, h2, h3, h4 {
    font-family: $font-header-stack;
}

body {
    font-family: $font-body-stack;
    background: $color5 no-repeat fixed center center / cover;

}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    padding: 1em;
    color: $color1;
    align-items: center;
    #logo{
        font-weight: 400;
        font-size: 2em;
        font-family: $font-header-stack;
    }
    #navigation_menu{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        a{
          padding: 1em;
        }
    }
    i{
        cursor: pointer; // show hand pointer when hovering over burger menu
    }
}

a {
    text-decoration: none;
    color: $color1;
    &:visited{
        color: $color1;
    }
    &:hover {
        color: $color2;
    }

}

fieldset{
    border-style: none;
}

.legend{
    font-weight: bold;
    width: 100%;
}

input[type="text"],input[type="email"], input[type="password"], input[type="number"], textarea{
    padding: 1em;
    min-width: 11em;
    border: 0px;
    font-family: inherit;
    border: 1px solid white;
	&:focus{
	    border: 1px solid $color2;
    	box-shadow: inset 0 1px 1px rgba(black,.075),0 0 8px rgba($color2,.6);
    	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
}

footer {
	background-color: #000;
	padding: 1em;
	width: 100%;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
// Classes
.container, body {
  margin: 0 auto;
}

.btn{
    text-decoration: none;
    padding: 1em;
    border-radius: 2px;
    font-weight: 700;
    &:hover{
        background-color: $color2;
        color: white;
    }
}
.btn-primary, .btn-warning{
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
    font: inherit;
    border-width: medium medium 1px;
    border-style: none;
}

.btn-primary{
    color: white;
    background-color: $color1; //#90E961;
}

.btn-warning{
    color: white;
    background-color: $color3;
}




.toggle-question{
    cursor: pointer;
    &.inactive{
        pointer-events: none;
        cursor: default;
        color: $color1;
        background-color: white;
    }
}


.banner{
    min-height: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-box{
    border: 2px solid white;
    padding: 1em;
    height: 30em;
    width: 30em;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 67%
    }
}

.search-bar{
    height: 12em;
    display: flex;
    form{
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px 1em 1em;
        label{
            margin-top: 1em;
        }
        input[name="budget"]{
            flex: 1 0 0%;
            margin: 1em 1em 0em;
        }
        .btn{
            width: auto;
        }
    }

}

.result-count, .sort-options{
    padding: 1em;
    text-align: right;
}

.providers-container{
    display: flex;
    flex-wrap: wrap;
}

// box shadowing on certain divs
.provider-row-details, .provider-about, .contact-form, 
.offers-table, .show-offer-box, .requests-table, .show-request,
.search-bar form, .questionnaire-question, .provider-gravatar .thumbnail img, .info-box, .mini-form, .register-form {
    border: 1px solid $color3;
	box-shadow: rgba(black, 0.6) 0px 3px 8px 1px;
    border-radius: 1px;
}

.provider-row{
    display: flex;
    flex: 1 1 100%;
    margin: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .provider-row-details{
        margin: 1em;
        padding: 1em;
        flex: 1;
        flex-basis: 20em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 250px;
        .provider-row-name{
            flex-basis: 20em;
            flex-shrink: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // about me contact and profile links on provider show page
            .provider-links{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .provider-detail-link{
                    padding: 0.5em;
                    border-left: 1px solid $color3;
                }
            }
        }
        .provider-row-details-sub{
            border-left: 1px solid $color3;
            margin-top: 1em;
            flex-shrink: 1;
            ul{
                list-style: none;
                padding: 0 1em;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;  
            }
        }
    }
    .provider-gravatar{
        .thumbnail{
            img{
                border-radius: 50%;
            }
        }
    }
}

.provider-about, .contact-form {
	margin: 1em;
	min-height: 20em;
	width: 100%;
	padding: 1em;
	form{
	    display: flex;
        flex-direction: column;
        justify-content: space-around;
        .from-field{
            padding: 1em;
        }
	}
}

.offers-table, .show-offer-box, .requests-table, .show-request {
	width: 98%;
	text-align: left;
	padding: 1%;
	margin: 1%;
}

@media only screen and (max-width: 370px) {
    .hide-small{
        display:none;
    }
}

.header-title{
    margin: 1em;
}

.pagination, .pager{
    list-style: outside none none;
    margin: 0px;
    padding: 1em;
    text-align: center;
    li{
        display: inline;
        margin: 5px;
    }
}

.questionnaire{
    padding: 1em;
}

.questionnaire-question{
    margin: 1em 0 0 0;
    &.answered{
        background-color: $color1;
        .btn{
            background-color: $color2;
            &:hover{
                background-color: white;
                color: $color2;
            }
        }
    }
}

// offer design in request view
.offer-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    a{
        margin: 0px;
        flex-basis: 10em;
    }
}

.collapse-offer{
    margin-top: 1em;
}

.offer-form-div{
    margin: 1em;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
}

.score{
    color: $color2;
}

.error{
    color: $color4;
}

.separator {
	width: 100%;
	border: 2px solid $color3;
	margin: 1em 0;
}

.provider-profile-questionnaire{
    label{
        margin: 1em 0 0 0;
    }
    input[type="checkbox"]{
        margin: 1em 0 0 0;
    }
}

.content-container{
    margin: 1em;
    padding: 1em;
    height: 100%;
    height: 64em;
}
// IDs

// datepicker design
#ui-datepicker-div {
    background-color: $color2;
    padding: 1em;
    color: white;
    .ui-datepicker-header {
    	display: flex;
    	display: flex;
    	justify-content: space-around;
    }
    .ui-datepicker-next {
    	order: 2;
    }
    .ui-datepicker-title{
        order: 1;
    }
    a:hover{
        color: white;
    }
}


// Front page form boxes
//TAGS

// CLASSES
.info-box, .mini-form, .register-form{
    background-color: rgba($color5,.9);
    padding: 15px;
    margin-top: 1em;
    flex-basis: 31em;
}

.info-box{
    width: 21em;
    ul{
        list-style:none;
        padding:0;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li i{
            margin-right: 3px;
            vertical-align: middle;
            font-weight: bold;
        }
    }
}


.quote, .info-box-container{
    flex: 0 1 auto;
}
.info-box-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.quote{
    display: none; // to cycle quote in jquery http://stackoverflow.com/questions/12065273/fade-in-out-text-loop-jquery
    font-size: 3em;
}


.mini-form fieldset, .register-form form, .anon-req-form form {
    padding:0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.anon-req-form{
    background-color: $color1;
    border: 2px solid rgba($color2,.15);
    padding: 1em;
    width: 100%;
    margin: 2em;
    color: white;
    .btn-primary{
        color: white;
        background-color: $color2;
        &:hover{
            background-color: white;
            color: $color2;
        }
    }
}

// IDS
#home-banner {
    background: transparent url("/banner.jpg") no-repeat fixed center center / cover;
    color: white;
    flex-direction: column;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px 1px;
    h2{
        text-transform: uppercase;
    }
    .info-box, .mini-form, .register-form{
        color: black;
    }
}

#home_section_anon_req, #home_section_join{
    min-height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#home_section_join{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px 1px;
}